/* css reset */
h1,h2,p{
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
}

header h5 {
    margin: 30px 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Merriweather', serif; */
}

.allContainer {
    width: 100%;
    padding: 20px;
}

.indexContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.roundCircle{
    width: 200px;
    height: 200px;
    border: 3px dashed rgb(1, 49, 18);
    box-shadow: 2px 0px 8px 2px rgba(92, 92, 92, 0.6);
}

.roundCircle+h3{
    font-family: 'Merriweather', serif;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
}

.boardContainer {
    padding-left: 15px;
    margin: 10px auto;
    max-height: 514px;
    overflow: scroll;
}

.writeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}